@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('https://fonts.googleapis.com/css?family=Mako');
@font-face {
    font-family: BreeSerif;
    src: url(../fonts/breeserif/BreeSerif-Regular.ttf);
}

body {
	/*background-color: #FFFFCC;*/
	background: #e3e4e6;
	background-image: url("../images/bg.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
	position: relative;
	padding: 0;
	margin: 0;
}

.home-topbar {
	height: 40px;
	background: #f0f0f0;
	position: fixed;
	top: 0;
	width: 100%;
	text-align: center;
	z-index: 99999;
}

.top-left {
	height: 100%;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

.left-img {
	height: 100%;
	padding: 0 10px;
	margin: 0 15px;
	background: #cae2e2;
}

.top-right {
	height: 100%;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

.top-right ul {
	font-family: BreeSerif, sans-serif;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.top-right ul li {
	display: inline-block;
	margin: 0 30px;
}

.top-right ul li a {
	text-decoration: none;
	color: #686667;
	transition: 0.5s;
}

.top-right ul li a:hover {
	color: blue !important;
}

.main-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	text-align: center;
	max-height: 80%;
}

.box {
	background: #e8e6e7;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	max-height: 100%;
}

.box-ticket {
	background: #e8e6e7;
	width: 85%;
	margin: 0 auto;
	padding: 10px;
}

.ticket-name, .ticket-transits {
	display: inline-block;
	vertical-align: top;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 50px;
	color: #686667;
}

.box-head {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 50px;
	color: #686667;	
}

.detail-cnt {
	text-align: left;
	width: 95%;
	margin: 15px auto;
	font-family: "Mako", sans-serif;
}

.detail-head {
	color: #e0774a;
	margin: 0;
}

.detail-body {
	width: 100%;
	font-size: 15px;
	color: #5f5f5f;
	border: 0;
	background: transparent;
	border-bottom: 1px solid #7c7c7c;
}

.detail-body:focus {
	outline: none;
}

.head-sub {
	font-family: "Mako", sans-serif;
	font-size: 17px;
	color: #e0774a;
}

.icon {
	display: inline-block;
	margin: 25px;
}

.icon img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

.icon img:hover {
	border: 2px solid red;
}

.form-head {
	font-family: "Mako", sans-serif;
	margin-top: 10px;
	text-align: left;
}

.form-select {
	width: 100%;
	background: #fff;
	border: 0;
	padding: 10px;
	margin: 4px 0 4px 0;
	border-radius: 7px;
}

.form-select:hover {
	outline: none;
}

.check_av {
	margin: 15px auto;
	border-radius: 25px;
	background: #e0703f;
	border: 0;
	padding: 10px;
	display: block;
	color: white;
}

.check_av:hover {
	cursor: pointer;
	background: rgba(224, 112, 63, .8);
}
